
body{
    padding: 100px;
    margin: 0;
    /* background-color:#000098;*/
    background-image:url("assets/images/cobra.jpeg");
    background-attachment: fixed;
    background-size:100%;
    background-repeat:no-repeat;
    background-color: aqua;
    border-radius: 40px;
    }

canvas{
    margin: 0 auto;
    }